@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-semibold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h5 {
    @apply text-lg font-semibold;
  }
  h6 {
    @apply text-base font-semibold;
  }

  /* Global Font */
  body {
    font-family: "Montserrat", sans-serif;
  }

  /* React Calendar Style */
  .react-calendar {
    @apply max-w-md rounded-lg border border-accent p-3 pt-0 leading-9;
  }

  .react-calendar > .react-calendar__navigation {
    @apply flex justify-around;
  }

  .react-calendar
    > .react-calendar__navigation
    > .react-calendar__navigation__arrow {
    @apply btn btn-link text-accent-content no-underline;
  }

  .react-calendar .react-calendar__month-view__weekdays__weekday {
    @apply flex justify-center;
  }

  .react-calendar .react-calendar__tile--now {
    @apply border border-accent;
  }

  .react-calendar .react-calendar__tile:hover {
    @apply bg-base-200;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .btn,
  .input,
  .select,
  .card,
  .dropdown-content {
    @apply rounded-lg;
  }
}
